# Ignore virtual environment
.venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code settings
.vscode/

# Ignore build, logs, and temp files
build/
dist/
*.log
*.tmp
*.bak

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.env.*

# Ignore system files
.DS_Store
Thumbs.db
